name: Build

on:
  workflow_dispatch:

jobs:
    build-installer:
        runs-on: ubuntu-latest
        steps:
          - name: Install devscripts and debhelper
            run: sudo apt-get update && sudo apt-get install -y devscripts debhelper

          - name: Checkout sources
            uses: actions/checkout@v4
            with:
                fetch-depth: 0

          - name: Fetch tags explicitly
            run: git fetch origin +refs/tags/*:refs/tags/*

          - name: Build RPM
            shell: bash
            run: |
                ./build_rpm.sh

          - name: Build DEB
            shell: bash
            run: |
                ./build_deb.sh

          - name: Result upload
            uses: actions/upload-artifact@v4
            with:
              name: packages
              path: |
                  *.deb
                  *.rpm
              if-no-files-found: error
