name: Build

on:
  workflow_dispatch:

jobs:
    build-installer:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout sources
            uses: actions/checkout@v3

          - name: Dump ALL contexts
            run: |
                echo "github: ${{ toJSON(github) }}"
                echo "inputs: ${{ toJSON(inputs) }}"
                echo "env: ${{ toJSON(env) }}"
                echo "job: ${{ toJSON(job) }}"
                echo "steps: ${{ toJSON(steps) }}"
                echo "runner: ${{ toJSON(runner) }}"
                echo "strategy: ${{ toJSON(strategy) }}"
                echo "matrix: ${{ toJSON(matrix) }}"
                echo "needs: ${{ toJSON(needs) }}"
          - name: Build RPM
            shell: bash
            run: |
                echo "Build RPM"

          - name: Build DEB
            shell: bash
            run: |
                echo "Build DEV"

          - name: Result upload
            uses: actions/upload-artifact@v4
            with:
              name: packages
              path: |
                  *.deb
                  *.rpm
              if-no-files-found: error
